#Installing Python and GraphLab Create

Please follow the installation instructions here before getting started:


##We have done
* Installed Python
* Started Ipython Notebook

#Getting started with Python

In [1]:
print 'Hello World!'

Hello World!

##Create some variables in Python

In [2]:
i = 4  #int

In [3]:
type(i)

int

In [4]:
f = 4.1  #float

In [5]:
type(f)

float

In [6]:
b = True  #boolean variable

In [7]:
s = "This is a string!"

In [8]:
print s

This is a string!

##Advanced python types

In [9]:
l = [3,1,2]  #list

In [10]:
print l

[3, 1, 2]

In [11]:
d = {'foo':1, 'bar':2.3, 's':'my first dictionary'}  #dictionary

In [12]:
print d

{'s': 'my first dictionary', 'foo': 1, 'bar': 2.3}

In [13]:
print d['foo']  #element of a dictionary

1

In [14]:
n = None  #Python's null type

In [15]:
type(n)

NoneType

##Advanced printing

In [16]:
print "Our float value is %s. Our int value is %s." % (f,i)  #Python is pretty good with strings

Our float value is 4.1. Our int value is 4.

##Conditional statements in python

In [17]:
if i == 1 and f > 4:
    print "The value of i is 1 and f is greater than 4."
elif i > 4 or f > 4:
    print "i or f are both greater than 4."
else:
    print "both i and f are less than or equal to 4"

i or f are both greater than 4.

##Conditional loops

In [18]:
print l

[3, 1, 2]

In [19]:
for e in l:
    print e

3
1
2

Note that in Python, we don't use {} or other markers to indicate the part of the loop that gets iterated.  Instead, we just indent and align each of the iterated statements with spaces or tabs. (You can use as many as you want, as long as the lines are aligned.)

In [20]:
counter = 6
while counter < 10:
    print counter
    counter += 1

6
7
8
9

#Creating functions in Python

Again, we don't use {}, but just indent the lines that are part of the function.

In [21]:
def add2(x):
    y = x + 2
    return y

In [22]:
i = 5

In [23]:
add2(i)

7

We can also define simple functions with lambdas:

In [24]:
square = lambda x: x*x

In [1]:
square = lambda x: x*X

In [2]:
square(3)

NameError: global name 'X' is not defined

In [3]:
x= 3

In [4]:
square

In [5]:
square(x)

NameError: global name 'X' is not defined

In [6]:
square = lambda x: x*x

In [7]:
x=3

In [8]:
square(x)

9

In [9]:
import graphlab

In [10]:
sf = graphlab.SFrame('people-example.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\EUGENE~1\AppData\Local\Temp\graphlab_server_1485749018.log.0

This non-commercial license of GraphLab Create for academic use is assigned to youshengchang@wellsfargo.com and will expire on January 30, 2018.

Finished parsing file C:\Users\eugene chang\people-example.csv

Parsing completed. Parsed 7 lines in 0.044034 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\eugene chang\people-example.csv

Parsing completed. Parsed 7 lines in 0.031021 secs.

In [11]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [12]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [13]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:59503/index.html
Opening Canvas in default web browser.

In [14]:
graphlab.canvas.set_target('ipynb')

In [15]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [16]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [17]:
sf['age'].mean()

23.142857142857146

In [18]:
sf['age'].max()

25L

In [19]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [24]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [22]:
transform_country('Brazil')

'Brazil'

In [25]:
transform_country('USA')

'United States'

In [26]:
sf['Country']= sf['Country'].apply(transform_country)

In [27]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [28]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [29]:
sf['age']*sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]